<html>
<head>
	<title>Customer Login</title>
</head>
<body>
<form action="/loginAuthCustomer" method="POST">
	<h2>Customer Login</h2>
	{% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
	<input type="text" name = "email" placeholder="Email" required/> </br>
	<input type="password" name = "password" placeholder="Password" required/></br>
	<input type="submit" value = Login />
	<input type="hidden" name="next" value="{{ next }}">
</form>
<a href="/registerCustomer">Register as a customer</a>
</br>
<a href="/">Home</a>

</body>

</html>
